@import url('https://fonts.googleapis.com/css?family=Poppins');
body {
  background: #FFF6EC;
  font-family: 'Poppins';
}

.navbar {
  background-color: transparent;
}

.navbar-brand {
    color: black;
}

.navbar-brand:hover {
    background-color: rgba(255, 255, 255, 0.1); 
    color: #252525;
}

.navbar-brand img {
  max-width: 70px;
  height: auto;
  margin-right: 10px;
}

.navbar-nav .nav-link {
  color: #000;
  margin-right: 10px;
}

.navbar-nav .nav-link.active {
  border: 1px solid #000; 
  background-color: transparent;
  border-radius: 0.5rem;
  color: #000;
}

.navbar-nav .nav-link.active:hover{
  background-color: rgba(255, 255, 255, 0.1); 
  color: #252525;
}

.btn-primary {
  border: 1px solid #000; 
  background-color: transparent;
  border-radius: 0.5rem;
  color: black;
  
}

.btn-primary:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid #252525;  
  color: #252525;
}

.jumbotron {
  color: #000;
  text-align: center;
  padding: 100px 0;
}

h3 {
    margin-bottom: 10px;
}

/*quem somos*/
.qs-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.qs-box {
    width: 300px;
    height: 420px;
}

.qs-box h3 {
    font-size: 18px;
    color: #000000;
    text-decoration: none;
    font-weight: 600;
}

.qs-box p {
    font-size: 14px;
    color: #000000;
    text-decoration: none;
    font-weight: 200;
}


/* EQEV */
section{
    margin: 70px;
    margin-top: 0;
}


.texts{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    padding-left: 2.5%;
}

.texts .row{
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;

}
.texts .row h3{
    text-align: center;
	margin: 20px 0 0 0;
	font-size: 35px;
	font-weight: normal;
    color: #000000;
}
.texts .row p{
    color: #000000;
    font-size: 18px;
    margin-right: 1%;
}


.video{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.video h3{
    color: #000000;
    font-size: 38px;
    margin-top: 0;
}

.poema{
    width: 100%; 
    max-width: 1000px;
    display: flex;
    position:relative;
	margin: 20px 0 0 0;
    
}
.verso{
    
    display: flex;
    justify-content: center;
    margin: 50px;
    padding-left: 150px;
}
.pm{
    margin:5px;
    display: felex;
    display: flex;
    justify-content: center;
    padding-left:50px;
}


 /* Responsive layout - makes a one column layout instead of a two-column layout */
 @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }